
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin/obj
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin/bin
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin.BuildComponent/obj
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin.BuildComponent/bin
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin.UnitTests/obj
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin.UnitTests/bin
/blissinsoftware.sandcastle.gherkin/blissinsoftware.sandcastle.gherkin/_ReSharper.BlissInSoftware.Sandcastle.Gherkin.Plugin
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin/_ReSharper.BlissInSoftware.Sandcastle.Gherkin.Plugin
/blissinsoftware.sandcastle.gherkin/sandcastlesampleproject/Help
/blissinsoftware.sandcastle.gherkin/BlissInSoftware.Sandcastle.Gherkin.UnitTests/obj
/blissinsoftware.sandcastle.gherkin/BlissInSoftware.Sandcastle.Gherkin.UnitTests/bin
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin.Plugin/obj
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin.Plugin/bin
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin.BuildComponents/obj
/BlissInSoftware.Sandcastle.Gherkin/BlissInSoftware.Sandcastle.Gherkin.BuildComponents/bin
/BlissInSoftware.Sandcastle.Gherkin/obj
/blissinsoftware.sandcastle.gherkin/SandcastleSampleProject/Help